canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 1px solid black;
    transition: transform 0.1s ease;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shrink {
    transform: scale(0.8) rotate(10deg);
}

.healthbar {
    width: 300px;
    height: 30px;

}

#healthfill {
    width: 100%;
    height: 100%;
    

    background: red;
    transition: width 0.2s;
}